html {
    background-image: url(/images/ksu-img-one.jpg);
}

.frm {
    height: 500px;
    width: 350px;
    background-color: rgb(255, 244, 240);
    text-align: center;
    margin-left: 520px;
   
}
h1 {
    color: aqua;
    
}
.Crr {
    text-align: center;
    padding-top: 30px;
}
/* .image1 {
    background-image: url(/images/ksu-img-one.jpg);
} */
/* .Crr1 {
    text-align: center;
    padding-top: 0px;
}
.Crr2 {
    text-align: center;
    padding-top: 30px;
}
.Crr3 {
    text-align: center;
    padding-top: 30px;
}
.Crr4 {
    text-align: center;
    padding-top: 30px;
}
.Crr5 {
    text-align: center;
    padding-top: 30px;
} */