html {
    background-image: url(/images/ksu-img-one.jpg);
}

.frm {
    height: 600px;
    width: 450px;
    background-color: rgb(240, 240, 255);
    text-align: center;
    margin-left: 520px;
   
}
h1 {
    color: rgba(255, 0, 242, 0.808);
    
}
.Crr {
    text-align: center;
    padding-top: 30px;
}
.frm line1{
    color: red;
    background: red;
    border-top: red;
}
.frm line1 {
    background: red;

}
/* .image1 {
    background-image: url(/images/ksu-img-one.jpg);
} */
/* .Crr1 {
    text-align: center;
    padding-top: 0px;
}
.Crr2 {
    text-align: center;
    padding-top: 30px;
}
.Crr3 {
    text-align: center;
    padding-top: 30px;
}
.Crr4 {
    text-align: center;
    padding-top: 30px;
}
.Crr5 {
    text-align: center;
    padding-top: 30px;
} */